{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class = "container">
            <br>
            <h1>
                Get Quote
            </h1>
            <br>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
            <br>
            <br>
        </div>
    </form>
{% endblock %}
